# === Frontend ===
airportFrontEnd/node_modules/
airportFrontEnd/dist/
airportFrontEnd/.vite/

# === Backend ===
airportBackEnd/venv/
airportBackEnd/__pycache__/
airportBackEnd/.mypy_cache/
airportBackEnd/.pytest_cache/

# === Global ===
*.env
*.log
.DS_Store
